version: "3.8"
services:
  backend:
    restart: always
    image: ${ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/${BACKEND_REPOSITORY}:${TAG:-latest}
    expose:
      - "3000"
    env_file:
      - ./backend/.env # ensure this file exists on EC2
    networks:
      - aiblog-network
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "node",
          "-e",
          "require('http').get('http://localhost:3000/health', (r) => {if (r.statusCode === 200) process.exit(0); else process.exit(1);})",
        ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  frontend:
    restart: always
    image: ${ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/${FRONTEND_REPOSITORY}:${TAG:-latest}
    expose:
      - "3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - VITE_BACKEND_API_URL=http://localhost
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - aiblog-network

  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - aiblog-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d aiblogdb -U admin"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s

  caddy:
    image: caddy:2
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - aiblog-network
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
  caddy_data:
  caddy_config:

networks:
  aiblog-network:
    driver: bridge
